.proyectlist{
  background-color: rgb(186, 240, 241);
  width: auto;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px 10px;
  border-top: 2px solid blue;

}

.proyectlist>img{
  width: 600px;
  height: auto;
}
