<h1>
  Portfolio main page!
</h1>

<h3>Push button to see a list of proyects</h3>
<button (click)="getListProyects()">GetPorfolio</button>

<h3>Push button add a new proyect</h3>
<button [routerLink]="['../new-proyect']"> New Proyect </button>


<div class="proyectlist" *ngFor="let proyect of proyects">
  <h4>{{proyect.title}}&nbsp;</h4>
  {{proyect.content}}
  {{proyect._author.username}}
  {{proyect.imageUrl}}
  <img [src]="proyect.imageUrl" />
  <h5>See proyect</h5>
  <button (click)="getTemplate(proyect.title)">details of {{proyect.title}}</button>
</div>
