body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.text{
  background-color: orange;
  width: 500px;
  margin: 0 auto;
  padding: 10px;
  font-size: 20px;
  text-align: justify;
  border: 2px solid red;
}
