<div class="text">
  <p>  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Illo culpa, omnis. Numquam laudantium corporis, exercitationem
    pariatur quasi earum nesciunt repudiandae itaque tenetur! Iste, alias, perferendis.
    Quos accusamus, cum! Molestiae, obcaecati!
  </p>
</div>
