<h1>
  Blog main page
</h1>

<h3>Push button add read blog</h3>
<button type="button" class="btn btn-outline-primary btn-sm" (click)="getBlog()">GetBlog</button>
<div *ngIf="session.user">
  <h3>Push button add a new post</h3>
  <button type="button" class="btn btn-outline-secondary btn-sm" [routerLink]="['../new-post']"> New post </button>
</div>

<div class="row">

<div class="col-md-8">
  <div class="card mb-4">
  <div class="postlist" *ngFor="let post of posts">


    <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
    <h1 class="my-4">{{post.title}}&nbsp;
    </h1>
    <div class="card-footer text-muted">
      Autor: {{post._author.username}}
    </div>
    <button type="button" class="btn btn-link" (click)="rendermyAuthorBio(post._author.username)">Go to author bio</button>
    <br>
    <div class="card-body">
      {{post.content}}
    </div>
    <div class="card-footer text-muted">
      Date: {{post.date}}
    </div>

  </div>
</div>
<ul class="pagination justify-content-center mb-4">
  <li class="page-item">
    <a class="page-link" href="#">&larr; Older</a>
  </li>
  <li class="page-item disabled">
    <a class="page-link" href="#">Newer &rarr;</a>
  </li>
</ul>
</div>
<!-- Sidebar Widgets Column -->
<div class="col-md-4">

  <!-- Search Widget -->
  <div class="card my-4">
    <h5 class="card-header">Search</h5>
    <div class="card-body">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
          <button class="btn btn-secondary" type="button">Go!</button>
        </span>
      </div>
    </div>
  </div>

  <!-- Categories Widget -->
  <div class="card my-4">
    <h5 class="card-header">Categories</h5>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-6">
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#">Web Design</a>
            </li>
            <li>
              <a href="#">HTML</a>
            </li>
            <li>
              <a href="#">Freebies</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-6">
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#">JavaScript</a>
            </li>
            <li>
              <a href="#">CSS</a>
            </li>
            <li>
              <a href="#">Tutorials</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Side Widget -->
  <div class="card my-4">
    <h5 class="card-header">Side Widget</h5>
    <div class="card-body">
      You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
    </div>
  </div>

</div>
</div>

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
  </div>
  <!-- /.container -->
</footer>
