<h1>
  Blog main page
</h1>

<h3>Push button add read blog</h3>
<button type="button" class="btn btn-outline-primary btn-sm" (click)="getBlog()">GetBlog</button>
<div *ngIf="session.user">
  <h3>Push button add a new post</h3>
  <button type="button" class="btn btn-outline-secondary btn-sm" [routerLink]="['../new-post']"> New post </button>
</div>


<div class="postlist" *ngFor="let post of posts">

    <h4>{{post.title}}&nbsp;</h4>
    Date: {{post.date}}
    <br>
    Autor: {{post._author.username}}
    <button type="button" class="btn btn-link" (click)="rendermyAuthorBio(post._author.username)">Go to author bio</button>
    <br>
    {{post.content}}

</div>
