<p>
  new-proyect works!
</p>
<h2>New Proyect</h2>
<form>
  <fieldset>

      <label> tittle </label>
      <input type="text" [(ngModel)]="newProyecto.title" name="title"/>
      <label> content </label>
      <textarea type="text" [(ngModel)]="newProyecto.content" name="content"></textarea>
      <label> Image </label>

      <input type="file" name="file" ng2FileSelect [uploader]="uploader" />

    </fieldset>
      <button (click)="submit()"> submit </button>
      
  </form>



<p> {{ feedback }} </p>
