
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>This is Cleopatra Bio</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">

       <div class="text">
         <img src="https://ei.marketwatch.com/Multimedia/2018/04/06/Photos/ZH/MW-GG946_elizab_20180406164239_ZH.jpg?uuid=0bfa0c58-39db-11e8-88ae-ac162d7bc1f7" alt="Caligula_foto" width="500">

         <p>  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Illo culpa, omnis. Numquam laudantium corporis, exercitationem
          pariatur quasi earum nesciunt repudiandae itaque tenetur! Iste, alias, perferendis.
          Quos accusamus, cum! Molestiae, obcaecati!
         </p>
         <b>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepte
         </b>

       </div>
     </div>

    </div>
  </div>
