<h1>This is San Marcos Bio</h1>
<h2>
<div class="text">
  <img src="https://www.iglesia.info/noticias/wp-content/uploads/2018/04/san-marcos-evangelista-santo-del-dia-25-de-abril.jpg" alt="Marcos_foto" width="500">
 <br>
  <strong>EL EVANGELISTA SAN MARCOS</stron>
  <p>  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Illo culpa, omnis. Numquam laudantium corporis, exercitationem
    pariatur quasi earum nesciunt repudiandae itaque tenetur! Iste, alias, perferendis.
    Quos accusamus, cum! Molestiae, obcaecati!
  </p>
  <b>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepte
  </b>
  <br>
  <b>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepte
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Illo culpa, omnis. Numquam laudantium corporis, exercitationem
    pariatur quasi earum nesciunt repudiandae itaque tenetur! Iste, alias, perferendis.
    Quos accusamus, cum! Molestiae, obcaecati!
  </b>

</div>
</h2>
